$primary-color: #9370db;
$hover-color: #7e68b3;

body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-family: 'Google Sans', sans-serif;

}

h2 {
  margin-top: 20px;
  font-family: 'Google Sans', sans-serif;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

form {
  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .input-group {
    display: flex;

    .input-left {
      flex: 1;
      margin-right: 5px;
    }

    .input-right {
      flex: 1;
      margin-left: 5px;
    }
  }

  button {
    background-color: #9370db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin: 0 auto;
    font-family: 'Google Sans', sans-serif;

  }

  button:hover {
    background-color: #7e68b3;
  }

 
}
